@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Fjalla+One&display=swap');

body {
  color: #111;
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-weight: 700;
  font-size: 5rem;
}

.container {
  display: flex;
  gap: 1rem;
}

.word {
  color: #555;
  animation: glow 3s ease-in-out infinite;
}

#thank {
  animation-delay: 1s;
}

#you {
  animation-delay: 1.6s;
}

#for {
  animation-delay: 2.2s;
}

#everything {
  animation-delay: 2.8s;
}

@keyframes glow {
  0%,
  25% {
    color: #555;
    text-shadow: none;
  }
  5%,
  20% {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00d4ff,
      0 0 70px #00d4ff, 0 0 80px #00d4ff, 0 0 100px #00d4ff, 0 0 150px #00d4ff;
  }
  26%,
  100% {
    color: #555;
  }
}

#buttonContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 65%;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #353535;
}
